main {
  padding: 30px 20px 30px 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-list__image {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list__image img {
  width: 50px;
}

.item-list__info {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.item-list__info div {
  margin-top: 10px;
}

.item-list__info-meta {
  font-size: smaller;
  color: rgba(195, 194, 194, 0.989);
}

.item-list__info-price {
  font-weight: bold;
}

.write-btn {
  position: fixed;
  bottom: 150px;
  right: 20px;
  background-color: rgba(254, 111, 15);
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.write-btn:hover {
  background-color: rgba(254, 111, 15, 0.8);
}
